body,
html {
  display:block;
	width:100%;
	height: 100%;
  margin: 0 auto;
  background-image: url('./image/bg.png');
  background-attachment: fixed; /*--背景画像の固定--*/
  background-position: center center; /*--背景画像の位置--*/
  background-size: cover;
  background-repeat: no-repeat;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.conteiner{
  width: 75%;
  margin: 50px auto;
  color: #fff;
}

.conteiner h1{
  margin: 0;
  padding: none;
  font-size: 50px;
}

.conteiner h2{
  margin: 0;
  padding: none;
}

table{
  width: 75%;
  margin: 0 auto;
  border-top: 5px double #fff;
  border-bottom: 5px double #fff;
}

td{
  width: 25%;
  padding: 40px 25px;
}

img{
  width: 100%;
  text-align: center;
}

.footer{
  width: 75%;
  margin: 50px auto;
  padding-bottom: 80px;
  display: flex;
}

.footer_right{
  padding-left: 40px;
}

.footer_left{
  width: 55%;
}
